.tab-style {
    background-color: transparent !important;
    box-shadow: none !important;
}


.Mui-selected {
    background-color: #091118 !important;
    color: #fff !important;
}
.MuiTabs-indicator {
    background-color: #61dafb !important;
}