.tab-style {
    background-color: transparent !important;
    box-shadow: none !important;
}

.forgot-password {
    color: #61dafb;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.Mui-selected {
    background-color: #091118 !important;
    color: #fff !important;
}
.MuiTabs-indicator {
    background-color: #61dafb !important;
}