body {
    background-color: #122230;
}
.cover {
    width: 100%;
    background: linear-gradient(to right, #122230 0%, rgb(9, 17, 24) 100%);
    color: #fff;
    padding-left: 30px;
    h3, h6 {
        margin: 0;
        padding: 0;
    }
    h3 {
        font-size: 3rem;
    }
    h6 {
        font-size: 1rem;
    }
    .cover-content {
        position: absolute;
        height: 100px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}
.login-container {
    display: flex;
    width: 70%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 400px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    padding-right: 30px;
}

.login-logo {
    width: 77%;
    margin-bottom: 20px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 600px) {

    body {
      margin: 20px;
    }
    .login-wrapper {
        width: 100%;
    }
    .cover {
        display: none !important;
    }
  }