body {
  margin: 0;
  padding: 0;
  background-color: #f6f7f9;
  font-family: Muli,Roboto,"Helvetica",Arial,sans-serif;
}

.content-container {
  padding-left: 20px;
  padding-right: 20px;
}

.cursor-p {
  cursor: pointer;
}