body {
  margin: 0;
  padding: 0;
  // background-color: #f6f7f9 !important;
  font-family: Muli,Roboto,"Helvetica",Arial,sans-serif;
}


.m-t-10 {
  margin-top: 10px;
}
.m-t-15 {
  margin-top: 10px;
}
.m-t-20 {
  margin-top: 20px;
}

.content-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 88px;
  margin-bottom: 40px;
}

.cursor-p {
  cursor: pointer;
}

.module-heading {
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  margin-top: 0;
}

.column-row {
  display: flex;
	flex-flow: row wrap;
	justify-content: center;
  margin: 5px 0;
  &.two-column {
    .col {
      flex: 1;
      margin: 2px;
    }  
  }
  &.three-column {
    .col {
      flex: 1;
      margin: 2px;
    }  
  }
}

.icons {
  color: rgba(0,0,0,0.4);
  margin: 0 1px;
  &:hover {
    color: rgba(0,0,0,0.70);
  }
}

.link1 {
  color: #61dafb;
  cursor: pointer;
  &:hover {
      text-decoration: underline;
  }
}

@media only screen and (max-width: 600px) {
  .content-container {
    padding: 0;
  }
}